/* 全体のレイアウト */
.input-container {
    /*width: 100%;*/
    height: 100vh;
    position: relative;
    background-image: url('InputScreenImage.png'); /* 背景画像を指定 */
    background-size: cover;
    background-position: center;
    z-index: 1;
    font-size: 16px;
}


.date-container{
    background-color: white;
    position:absolute;
    top: 15vh;
    left: 23vw;
    display: flex;
    align-items: center;
    gap: 15px;
}
.insertButton-container{
    /*background-color: #83d3dd;*/
    position:absolute;
    top: 37vh;
    left: 70vw;
    width:300px;
    height: 50px;
    z-index: 1;
}

.react-datepicker__input-container input {
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}
.org-container {
    display: none;
    position:absolute;
    top: 20vh;
    left: 23vw;
}
.search-button{
    position:absolute;
    top: 22vh;
    left: 55vw;
    width: 100px;
    /*background-color: blanchedalmond;*/
    background-color: #ffd99d;
    border: 1px solid #928f8f;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.decide-button{
    position:absolute;
    top: 55vh;
    left: 55vw;
    width: 120px;
    background-color: #ffd99d;
    border: 1px solid #928f8f;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}


table {
    position:absolute;
    top: 60vh;
    left: 22vw;
    margin: 0 20px;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 1px;
    text-align: center;
}

th {
    border: 1px dashed lightgray;
    border-bottom: 1px solid black;
    padding: 4px;
    background: lavender;
}

td {
    border: 1px dashed lightgray;
    padding: 4px;
}
